<div class="page">
  <div class="page-header">
    <div>
      <h1 class="page-title">{{ (editando ? 'educacion.formEdit' : 'educacion.formNew') | t }}</h1>
      <p class="page-sub">{{ (editando ? 'educacion.formEditSub' : 'educacion.formNewSub') | t }}</p>
    </div>
    <a routerLink="/educacion" class="btn-back"><mat-icon>arrow_back</mat-icon> {{ 'common.back' | t }}</a>
  </div>
  <div class="form-card">
    <div class="form-row">
      <div class="form-group">
        <label>{{ 'educacion.fTitle' | t }} *</label>
        <input [(ngModel)]="contenido.titulo" name="titulo" [placeholder]="'educacion.fTitlePh' | t" />
      </div>
      <div class="form-group">
        <label>{{ 'educacion.fType' | t }} *</label>
        <select [(ngModel)]="contenido.tipo" name="tipo">
          @for (t of tipos; track t) { <option [value]="t">{{ t }}</option> }
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label>{{ 'educacion.fAuthor' | t }}</label>
        <input [(ngModel)]="contenido.autor" name="autor" [placeholder]="'educacion.fAuthorPh' | t" />
      </div>
      <div class="form-group">
        <label>{{ 'educacion.fSource' | t }}</label>
        <input [(ngModel)]="contenido.fuente" name="fuente" [placeholder]="'educacion.fSourcePh' | t" />
      </div>
    </div>
    <div class="form-group">
      <label>URL *</label>
      <input [(ngModel)]="contenido.url" name="url" placeholder="https://..." />
    </div>
    <div class="form-group">
      <label>{{ 'educacion.fSummary' | t }}</label>
      <textarea [(ngModel)]="contenido.contenido" name="contenido" rows="4" [placeholder]="'educacion.fSummaryPh' | t"></textarea>
    </div>
    <button class="btn-guardar" (click)="guardar()">
      <mat-icon>save</mat-icon> {{ (editando ? 'common.saveChanges' : 'educacion.create') | t }}
    </button>
  </div>
</div>
