<div class="container">
  <h2 style="text-align: center;margin: 3%;">Lista de Salas </h2>
  <div style="text-align: center;margin: 3%;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.idLivingRoom}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef> Sala </th>
        <td mat-cell *matCellDef="let element"> {{element.nameLivingRoom}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef> Ubicación </th>
        <td mat-cell *matCellDef="let element"> {{element.ubicationLivingRoom}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef> Capacidad </th>
        <td mat-cell *matCellDef="let element"> {{element.capacityLivingRoom}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element"> {{element.typeLivingRoom}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.statusLivingRoom}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.descriptionLivingRoom}} </td>
      </ng-container>

      <ng-container matColumnDef="c8">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element">
          <button matButton (click)=" eliminar(element.idLivingRoom)" class="btn-eliminar">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="c9">
        <th mat-header-cell *matHeaderCellDef> Actualizar </th>
        <td mat-cell *matCellDef="let element">
          <button matButton [routerLink]="['/salas/edits', element.idLivingRoom]" class="btn-eliminar">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </div>
</div>