<div class="container">
    <div style="text-align: center;margin: 3%;">
        <h2>Actualizar Sala</h2>
    </div>
    <div style="text-align: center;margin: 3%;">
        <!--Formulario-->
        <form [formGroup]="form" (submit)="aceptar()" class="example-form">
            <!-- codigo   -->
            <mat-form-field class="example-full-width">
                <mat-label>Código</mat-label>
                <input matInput placeholder="B605" formControlName="codigo" readonly="true">
            </mat-form-field>
            <br>
            <!-- codigo   -->
            <mat-form-field class="example-full-width">
                <mat-label>Sala</mat-label>
                <input matInput placeholder="B605" formControlName="nombre">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Ubicación</mat-label>
                <input matInput placeholder="Edificio B" formControlName="ubicacion">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Capacidad</mat-label>
                <input matInput placeholder="30" formControlName="capacidad">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Tipo de sala</mat-label>
                <mat-select formControlName="tipo">
                    @for (food of tipos; track food) {
                    <mat-option [value]="food.value">
                        {{food.viewValue}}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <br>
            <mat-radio-group aria-label="Seleccione un estado" formControlName="estado">
                <mat-radio-button [value]="true">Activo</mat-radio-button>
                <mat-radio-button [value]="false">Inactivo</mat-radio-button>
            </mat-radio-group>
            <br>
            <mat-form-field>
                <mat-label>Descripción</mat-label>
                <textarea matInput formControlName="descripcion"></textarea>
            </mat-form-field>
            <br>
            <div>
                <button matButton="elevated">Actualizar</button>
            </div>
        </form>
    </div>
</div>