<div class="page">
  <div class="page-header">
    <div>
      <h1 class="page-title">{{ (editando ? 'retos.formEdit' : 'retos.formNew') | t }}</h1>
      <p class="page-sub">{{ (editando ? 'retos.formEditSub' : 'retos.formNewSub') | t }}</p>
    </div>
    <a routerLink="/retos" class="btn-back"><mat-icon>arrow_back</mat-icon> {{ 'common.back' | t }}</a>
  </div>
  <div class="form-card">
    <div class="form-group">
      <label>{{ 'retos.fTitle' | t }} *</label>
      <input [(ngModel)]="reto.titulo" name="titulo" [placeholder]="'retos.fTitlePh' | t" />
    </div>
    <div class="form-group">
      <label>{{ 'retos.fDesc' | t }}</label>
      <textarea [(ngModel)]="reto.descripcion" name="desc" rows="3" [placeholder]="'retos.fDescPh' | t"></textarea>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label>{{ 'retos.fType' | t }} *</label>
        <select [(ngModel)]="reto.tipo" name="tipo">
          <option value="familiar">{{ 'retos.typeFamiliar' | t }}</option>
          <option value="individual">{{ 'retos.typeIndividual' | t }}</option>
          <option value="grupal">{{ 'retos.typeGrupal' | t }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>{{ 'retos.fDifficulty' | t }} *</label>
        <select [(ngModel)]="reto.dificultad" name="dificultad">
          <option value="fácil">{{ 'retos.difEasy' | t }}</option>
          <option value="medio">{{ 'retos.difMedium' | t }}</option>
          <option value="difícil">{{ 'retos.difHard' | t }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>{{ 'retos.fDuration' | t }} *</label>
        <input type="number" [(ngModel)]="reto.duracionDias" name="duracion" min="1" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label>{{ 'retos.fReward' | t }}</label>
        <select [(ngModel)]="reto.recompensaId" name="recompensa">
          <option [value]="null">{{ 'retos.fNoReward' | t }}</option>
          @for (r of recompensas; track r.idRecompensa) {
            <option [value]="r.idRecompensa">{{ r.nombre }}</option>
          }
        </select>
      </div>
      <div class="form-group">
        <label>{{ 'retos.fLogro' | t }}</label>
        <select [(ngModel)]="reto.logroId" name="logro">
          <option [value]="null">{{ 'retos.fNoLogro' | t }}</option>
          @for (l of logros; track l.idLogro) {
            <option [value]="l.idLogro">{{ l.nombre }}</option>
          }
        </select>
      </div>
    </div>
    <div class="toggle-row">
      <input type="checkbox" [(ngModel)]="reto.activo" name="activo" id="activo" />
      <label for="activo">{{ 'retos.fActive' | t }}</label>
    </div>
    <button class="btn-guardar" (click)="guardar()">
      <mat-icon>save</mat-icon> {{ (editando ? 'common.saveChanges' : 'retos.create') | t }}
    </button>
  </div>
</div>
